.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cellInput {
  width: 30px;
  height: 30px;
  font-size: 15px;
  text-align: center;
  padding: 8px;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 3px solid gray;
  background-color: rgb(134, 133, 133);
}

td {
  padding: 0;
}

.buttonContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.solveButton {
  background-color: orange;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  margin: 0 20px;
}

.editButton {
  background-color: blue;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.resetButton {
  background-color: red;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
}

.bBorder {
  border-bottom: 2px solid black;
}

.rBorder {
  border-right: 2px solid black;
}
